$main-color-1: #2E447F;
$main-color-2: #00519E;
$main-color-3: #1D7ABD;
$main-color-4: #90BEDE;
$main-color-5: #89C6E1;

$sub-color-1: #CF4F2E;
$sub-color-2: #E75113;
$sub-color-3: #EA7D24;
$sub-color-4: #E7823F;
$sub-color-5: #F9B200;