$main-1: #2E447F;
$main-2: #00519E;
$main-3: #1D7ABD;
$main-4: #90BEDE;
$main-5: #89C6E1;

$sub-1: #CF4F2E;
$sub-2: #E75113;
$sub-3: #EA7D24;
$sub-4: #E7823F;
$sub-5: #F9B200;

$black-1: #444444;
$black-2: #777777;
$black-3: #CCCCCC;
$black-4: #DDDDDD;